<% if (locals.user) { %>
    <%- include("partials/header.ejs", {user: user}) %>
<% } else { %>
    <%- include("partials/header.ejs") %>
<% } %>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <p>username: <%= user.username %></p>
        <p>password: <%= user.password %></p>
        <h2>Your Notes (<%= bookNotes.length %>)</h2>
        <% if (locals.bookNotes && bookNotes.length > 0) { %>
             <% for (var i = 0; i < bookNotes.length; i++) { %>
                <div class="row my-5">
                    <div class="col-3">
                        <img src="https://covers.openlibrary.org/b/olid/<%= bookNotes[i].cover %>-M.jpg" alt="cover" />
                    </div>
                    <div class="col-9">
                        <h2>"<%= bookNotes[i].title %>" by <%= bookNotes[i].author %> (<%= bookNotes[i].year %>)</h2>
                        <a href="https://openlibrary.org/olid/<%= bookNotes[i].cover %>" target="_blank">Learn more about the book here!</a>
                        <h3>Book note by: <%= bookNotes[i].username %></h3>
                        <h4>Rating: <%= bookNotes[i].rating %>/10</h4>
                        <h4>Date read: <%= bookNotes[i].date %></h4>
                        <h4><%= bookNotes[i].summary %></h3>
                        <form action="/view-note" method="post">
                            <input type="text" class="" hidden id="id" name="id" value="<%= bookNotes[i].id %>">
                            <input type="submit" class="bg-primary text-white rounded" value="View Note"><br />
                        </form>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</body>
<%- include("partials/footer.ejs") %>